@page "/add-etablissements"
@layout MainLayout
@inherits Pes.Pages.AddEtablissementsComponent

@using Radzen
@using Radzen.Blazor
@using Pes.Models.DMdel
@using Microsoft.AspNetCore.Identity;
@using Pes.Models
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize(Roles="Authenticated, admin")]
<PageTitle>Add Etablissements</PageTitle>
<RadzenContent Container="main">
  <ChildContent>
    <div class="row">
      <div class="col-md-12">
        <RadzenTemplateForm Data="@etablissement" Visible="@(etablissement != null)" TItem="Pes.Models.DMdel.Etablissement" Submit="@Form0Submit">
          <ChildContent>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Text="Region" Component="Regid" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenDropDown Data="@getRegionsResult" TextProperty="NomRegion" ValueProperty="Id" Placeholder="Choose Region" style="width: 100%" @bind-Value="@(etablissement.Regid)" Name="Regid">
                </RadzenDropDown>
              </div>
            </div>
            <div style="margin-bottom: 1rem" class="row">
              <div class="col-md-3">
                <RadzenLabel Text="Nom Etablissement" Component="NomEtablissement" style="width: 100%">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenTextBox MaxLength="300" style="display: block; width: 100%" @bind-Value="@(etablissement.NomEtablissement)" Name="NomEtablissement">
                </RadzenTextBox>
                <RadzenRequiredValidator Component="NomEtablissement" Text="NomEtablissement is required" style="position: absolute">
                </RadzenRequiredValidator>
              </div>
            </div>
            <div class="row">
              <div class="col offset-sm-3">
                <RadzenButton ButtonType="ButtonType.Submit" Icon="save" Text="Save" ButtonStyle="ButtonStyle.Primary">
                </RadzenButton>
                <RadzenButton ButtonStyle="ButtonStyle.Light" style="margin-left: 1rem" Text="Cancel" Click="@Button2Click">
                </RadzenButton>
              </div>
            </div>
          </ChildContent>
        </RadzenTemplateForm>
      </div>
    </div>
  </ChildContent>
</RadzenContent>
