@page "/rubriques"
@layout MainLayout
@inherits Pes.Pages.RubriquesComponent

@using Radzen
@using Radzen.Blazor
@using Pes.Models.DMdel
@using Microsoft.AspNetCore.Identity;
@using Pes.Models
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize(Roles="Authenticated, admin")]
<PageTitle>Rubriques</PageTitle>
<RadzenContent Container="main">
  <ChildContent>
    <RadzenHeading Size="H2" style="background-color: rgb(0, 120, 212); border-radius: 5px; color: #e6ecef; font-family: times new roman,times,serif; padding-bottom: 4px; padding-top: 2px; text-align: center" Text="Rubriques">
    </RadzenHeading>
    <div class="row">
      <div class="col-md-12">
        <RadzenButton Icon="add_circle_outline" style="margin-bottom: 10px" Text="Ajouter" Click="@Button0Click">
        </RadzenButton>
        <RadzenDataGrid @ref="grid0" AllowFiltering="true" AllowPaging="true" AllowSorting="true" Data="@getRubriquesResult" EditMode="DataGridEditMode.Single" FilterMode="Radzen.FilterMode.Advanced" TItem="Pes.Models.DMdel.Rubrique" RowCreate="@Grid0RowCreate" RowUpdate="@Grid0RowUpdate">
          <Columns>
            <RadzenDataGridColumn TItem="Pes.Models.DMdel.Rubrique" Property="NomRubrique" Title="Nom Rubrique">
              <EditTemplate Context="pesModelsDMdelRubrique">
                <RadzenTextBox style="display: block; width: 100%" @bind-Value="@(pesModelsDMdelRubrique.NomRubrique)" Name="NomRubrique">
                </RadzenTextBox>
                <RadzenRequiredValidator Component="NomRubrique" Popup="true">
                </RadzenRequiredValidator>
              </EditTemplate>
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="Pes.Models.DMdel.Rubrique" Property="Session.NomSession" Title="Session">
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="Pes.Models.DMdel.Rubrique" Property="Coeff" TextAlign="TextAlign.Center" Title="Coefficient" Width="200px">
              <EditTemplate Context="pesModelsDMdelRubrique">
                <RadzenNumeric style="font-size: 16px; font-style: oblique; font-weight: 600; width: 100%" TextAlign="TextAlign.Center" @bind-Value="@(pesModelsDMdelRubrique.Coeff)" Name="Numeric0">
                </RadzenNumeric>
              </EditTemplate>
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="Pes.Models.DMdel.Rubrique" Filterable="false" Sortable="false" TextAlign="TextAlign.Center" Width="70px">
              <Template Context="pesModelsDMdelRubrique">
                <RadzenButton Icon="edit" Size="ButtonSize.Small" Click="@((args) =>EditButtonClick(args, pesModelsDMdelRubrique))">
                </RadzenButton>
              </Template>
              <EditTemplate Context="pesModelsDMdelRubrique">
                <RadzenButton Icon="save" Size="ButtonSize.Small" Click="@((args) =>SaveButtonClick(args, pesModelsDMdelRubrique))">
                </RadzenButton>
                <RadzenButton ButtonStyle="ButtonStyle.Secondary" Icon="cancel" Size="ButtonSize.Small" Click="@((args) =>CancelButtonClick(args, pesModelsDMdelRubrique))">
                </RadzenButton>
              </EditTemplate>
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="Pes.Models.DMdel.Rubrique" Filterable="false" Sortable="false" TextAlign="TextAlign.Center" Width="70px">
              <Template Context="pesModelsDMdelRubrique">
                <RadzenButton ButtonStyle="ButtonStyle.Danger" Disabled="false" Icon="close" Size="ButtonSize.Small" Click="@((args) =>GridDeleteButtonClick(args, pesModelsDMdelRubrique))" @onclick:stopPropagation="true">
                </RadzenButton>
              </Template>
            </RadzenDataGridColumn>
          </Columns>
        </RadzenDataGrid>
      </div>
    </div>
  </ChildContent>
</RadzenContent>
